.header {
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #3f51b5;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#title {
  margin-left: 60px;
  font-weight: 600;
  font-size: larger;
}

#add-icon{
  display: none;
}

#add-icon:checked ~ label{
  display: none;
}
.white {
  color: white !important;
}