.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup {
  color: #666;
}
.signup a {
  text-decoration: none;
}
.input {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.spinner {
  position: absolute;
}
